.nav-pills .nav-link.active{
    background-color: #3a5bcc;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

p{
    width: 70%;
}

.welcome-login{
    background-color: #e2e7f7;
}

.login{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

h1{
    margin-top: 30px;
    font-size: 3.5rem;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
}

/*------------------------------------------------------*/
.service h2{
    font-size: 3.5rem;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 60px;
    font-weight: 500;
}

.service-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.service-table div{
    margin-bottom: 20px;
}

.service{
    margin: 100px;
}

/* --------------------------------------------- */

.extras{
    background-color: #e2e7f7;
    height: 1100px;
    padding: 90px;
}

.extras .mission h2{
    font-size: 3.5rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    width: 50%;
    margin-left: 80px;
    margin-bottom: 40px;
}

.mission li{
    width: 50%;
    margin-bottom: 40px;
    margin-left: 80px;
}

.mission{
    display: flex;
}


.extras img{
    height: 400px;
    width: 400px;
    border-radius: 15%;
    
}

.story{
    margin-top: 100px;
}

.story img{
    margin-right: 200px;
    margin-left: 80px;
}

/*--------------------------------------*/

